<div class="row">
  <div class="col-md-8">
    <img src="../assets/images/Ipsita.jpg" alt="" />
    <h1 class="animated shake delay-2s">Hi,I am Ipsita.</h1>
    <h1 class="animated shake delay-3s">I am an Electronics Engineer.</h1>
    <h1 class="animated shake delay-4s">Living in Howrah.</h1>
    <h1 class="animated infinite flash delay-5s">|</h1>
  </div>
  <div class="col-md-4">
    <button mat-stroked-button color="accent" id="download-wrapper">
      <a href="../assets/images/Resume.pdf"
        ><i class="fa fa-download"></i>Download Resume</a
      >
    </button>
  </div>
</div>

<h3>ABOUT</h3>
<p class="lead">
  I am a fresher specialized in Electronics and Communication Engineering with
  an overall DGPA of 8.19
</p>
