img {
  height: 300px;
  width: 250px;
  border-radius: 50%;
}
h5 {
  margin-top: 5%;
  color: #3f7fb7;
}
p {
  margin-top: 5%;
  color: #777;
}
button {
  margin-top: 70%;
}
@media screen and (max-width: 992px) {
  button {
    margin-top: 0%;
  }
}
#download-wrapper a {
  color: purple !important;
  font-weight: bold;
}
#download-wrapper a:hover {
  color: black !important;
}
