<h5>SKILLS</h5>
<p>
  I knack for critical thinking, empathy and creativity to create viable and
  impactful solutions using these technologies.
</p>
<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile><i class="fab fa-html5"></i>HTML</mat-grid-tile>
  <mat-grid-tile><i class="fab fa-css3-alt"></i>CSS</mat-grid-tile>
  <mat-grid-tile><i class="fas fa-laptop-code"></i>Bootstrap</mat-grid-tile>
  <mat-grid-tile><i class="fab fa-js-square"></i>JavaScript</mat-grid-tile>
  <mat-grid-tile><i class="fab fa-angular"></i>Angular 2.0</mat-grid-tile>
  <mat-grid-tile><i class="fab fa-php"></i>PHP</mat-grid-tile>
</mat-grid-list>
