<div class="container">
  <h5>PROJECTS</h5>
  <div class="row">
    <div class="col-md-6 mt-5">
      <div class="card" style="width: 18rem; background-color: aqua;">
        <div class="card-body">
          <h5 class="card-title mb-2 text-muted">To Do List</h5>
          <p class="card-text">
            The back-end of this project is done with the help of
            <strong>PHP</strong> and front-end by HTML,CSS,Bootstrap.
          </p>
          <a href="https://github.com/ipsita95/To_Do_List" class="card-link"
            >Show me the code!</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-5">
      <div class="card" style="width: 18rem; background-color: bisque;">
        <div class="card-body">
          <h5 class="card-title mb-2 text-muted">Logo</h5>
          <p class="card-text">
            A one page responsive project. The languages that I have used in
            this project are <strong>HTML,CSS,Bootstrap.</strong>
          </p>
          <a href="https://github.com/ipsita95/Logo-1" class="card-link"
            >Show me the code!</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-4">
      <div class="card" style="width: 18rem;background-color: blanchedalmond;">
        <div class="card-body">
          <h5 class="card-title mb-2 text-muted">Portfolio</h5>
          <p class="card-text">
            One page responsive portfolio using <strong>Bootstrap</strong>
          </p>
          <a href="https://github.com/ipsita95/Portfolio" class="card-link"
            >Show me the code!</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="card" style="width: 18rem;background-color: aquamarine;">
        <div class="card-body">
          <h5 class="card-title mb-2 text-muted">Quotes</h5>
          <p class="card-text">
            This project is of multiple responsive pages done with the help of
            <strong>Bootstrap</strong> framework.
          </p>
          <a href="https://github.com/ipsita95/Quotes" class="card-link"
            >Show me the code!</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
